.container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 15%;
  overflow: auto;
}

.start {
  animation:blinking 1s infinite;
}

@keyframes blinking{
  0%{   color: #FE7CB3;   }
  47%{   color: #FE7CB3; }
  62%{   color: transparent; }
  50%{   color:transparent; }
  100%{  color: #FE7CB3;   }
}

img {
  cursor: pointer;
  width: 350px;
}
